{% extends "base.twig" %}

{% block title %}About{% endblock %}

{% block main %}
<h2>Documentation</h2>

<p>Pour les sections 1 et 2, il est impératif que le décompte 
soit effectuer entre le lundi 8H00 et mardi 22H00. 
Il sera impossible passé ce délai d'effectuer le décompte.</p>

<h3>Utilisation</h3>
<p>Ce nouveau décompte est simple d'utilisation, il vous suffit de vous connectez 
avec le login et le mot de passe générique de votre section pour affichez les onglets "Administration" 
et "sections", pour remplir le décompte, cochez/décochez les cases des comptés mangeant ou non,
UN SEUL TABLEAU A LA FOIS, chaque tableau est indépendant et doit être sauvegardé avant 
d'en entamer un autre.</p>

{% endblock %}

{% block modal %}
    <form action="" method='POST' enctype="multipart/form-data">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="login">Login :</label>
        <div class="col-sm-8">
            <input class="form-control-plaintext" type="text" id="login" name="login">
        </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="passwd">Password :</label>
        <div class="col-sm-8">
            <input class="form-control-plaintext" type="password" id="passwd" name="passwd">
        </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}