    <!DOCTYPE html>
    <html lang="fr">
        <head>
            <title>CCPM - {% block title %}{% endblock %}</title>

            <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
            <link rel="stylesheet" type="text/css" href="../../assets/css/style.css"/>

            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, hight=device-height, initial-scale=1">
            <link rel="shortcut icon" type="image/ico" href="/assets/img/Logo_CFSMA.PNG"/>
            <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet">
        </head>
        <body>
        <div class="bodydiv container-fluid">
            <header>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="/">CCPM</a>

                    <div class="collapse navbar-collapse" id="navbarToggler">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="navbar-item">
                            <a class="nav-link" href="/userstab">Tableau de bord</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/adduser">Ajouter un utilisateur</a>
                        </li>
                        <!--<li class="nav-item">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/adduser">Ajouter un utilisateur</a>
                                </div>
                            </div>
                        </li>-->
                        </ul>
                        <a class="nav-link" target="_blank" href="http://192.168.24.234/glpi">Un problème ?</a>
                    </div>
                    </nav>
            </header>
            <main class="container-fluid" role="main">
                {{ messages()| raw}}
                {% block main %}{% endblock %}
            </main>
            {% block script %}{% endblock %}
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
            <footer class="page-footer footer font-small w-100 pb-0 container-fluid">
                <div class="row text-center">
                    <div class="col-md-auto">
                        <img class="logo" src="/assets/img/logo.PNG" alt="logo"/>
                    </div>
                    <div class="col-md-10">
                        <P class="pfoot">Notation CCPM, made with some ❤️ and ☕.</p><p class="pfoot"> Développé par le CPL Champagne.</p>
                        <a class="btn btn-footer" target="_blank" href="http://php.net">Powered with PHP</a> - 
                        <a class="btn btn-footer" href="/about">Documentation</a>
                    </div>
                </div>
            </footer>
        </div>
        </body>
    </html>