{% extends "base.twig" %}

{% block title %}Profil de {{user.name}}{% endblock %}

{% block main %}
<h1>Profil de {{user.firstname}} {{user.name}}</h1>
<div class="container-fluid row">
    <div class="col-md-4">
        <form>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label for="firstname">Prénom</label>
                    <input disabled type="text" class="form-control" id="firstname" name="firstname" value="{{user.firstname}}"/>
                    <span id="missFirstname"></span>
                </div>
                <div class="form-group col-sm-auto">
                    <label for="name">Nom</label>
                    <input disabled type="text" class="form-control" id="name" name="name" value="{{user.name}}"/>
                    <span id="missName"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-auto">
                    <label for="annee_naiss">Année de naissance</label>
                    <input disabled type="text" class="form-control" maxlength="4" id="annee_naiss" name="annee_naiss" value="{{user.annee_naiss}}"/>
                    <span id="missAnnee"></span>
                </div>
                <div class="form-check-inline col-sm-auto">
                    <input disabled class="form-check-input" type="radio" id="masculin" name="sexe" value="masculin" {% if user.sexe == "masculin" or user.sexe == null %}checked{% endif %}/>
                    <label class="form-check-label" for="masculin">Masculin</label>
                </div>
                <div class="form-check-inline col-sm-auto">
                    <input disabled class="form-check-input" type="radio" id="feminin" name="sexe" value="féminin" {% if user.sexe == "féminin" %} checked {% endif %}/>
                    <label class="form-check-label" for="feminin">Féminin</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-auto">
                    <label for="Categorie">Catégorie</label>
                    <select disabled class="form-control" id="categorie" name="categorie">
                        <option value="0" selected>...</option>
                        {% for cat in categorie %}
                            <option value="{{cat.id}}" {% if user.categorie_id == cat.id %}selected{% endif %}>{{cat.name}}</option>
                        {% endfor %}
                    </select>
                    <span id="missCategorie"></span>
                </div>
            </div>
        </form>
    </div>

    <div class="container-sm col-sm-2">
        <a href="/notation/{{user.id}}" class="btn btn-primary">Ajouter une évaluation</a>
    </div>

    <div class="container-md col-md-auto">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Age CCPG</th>
                    <th>Age CCPS</th>
                    <th>2400m</th>
                    <th>natation</th>
                    <th>pompes</th>
                    <th>Marche course</th>
                    <th>Tir</th>
                </tr>
            </thead>
            <tbody>
                {% for nt in notes %}
                    <tr>
                        <td>{{nt.age_ccpg}}</td>
                        <td>{{nt.age_ccps}}</td>
                        <td>{{nt.2400}}{% if nt.2400 != "N/A" %}/20{% endif %}</td>
                        <td>{{nt.natation}}{% if nt.natation != "N/A" %}/20{% endif %}</td>
                        <td>{{nt.pompe}}{% if nt.pompe != "N/A" %}/20{% endif %}</td>
                        <td>{{nt.marcheCourse}}{% if nt.marcheCourse != "N/A" %}/20{% endif %}</td>
                        <td>N/A</td>
                        <td>
                        <a href="/notation/{{user.id}}/{{nt.id}}" class="btn btn-primary">Modifier</a>
                        <a href="/delnotation/{{nt.id}}/{{nt.user_id}}" class="btn btn-primary">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}



{% block script %}

{% endblock %}