{% extends "base.twig" %}

{% block title %}Tableau de Bord{% endblock %}

{% block main %}
<h1>Tableau de Bord</h1>

<div class="container-fluid row col-md-10">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <th>Prénom</th>
            <th>Nom</th>
            <th>Annee de naissance</th>
            <th>Sexe</th>
            <th>Catégorie</th>
            <th>Options</th>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.firstname}}</td>
                <td>{{user.name}}</td>
                <td>{{user.annee_naiss}}</td>
                <td>{{user.sexe}}</td>
                {% for cat in categorie %}
                {% if cat.id == user.categorie_id %}<td>{{cat.name}}</td>{% endif %}
                {% endfor %}
                <td>
                    <a href="/adduser/{{user.id}}" class="btn btn-primary">Modifier</a>
                    <a href="/deluser/{{user.id}}" class="btn btn-primary" onclick="return confirm('Supprimer ?')">Suprimer</a>
                    <a href="/profile/{{user.id}}" class="btn btn-primary">Profil</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}



{% block script %}

{% endblock %}