@viewport {
    height: device-height;
}

body {
    background-color: rgb(177,178,180);
    margin-top: 75px;
    text-align: justify;
    height: calc(100vh - 150px);
}

input {
    border-color: black;
    border: solid 1px !important;
    padding-left: 2px !important;
    margin-bottom: 0.5rem !important;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    font: 400 13.3333px Arial;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

input[type="checkbox" i] {
    background-color: initial;
    color: blue;
    cursor: default;
    appearance: checkbox;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

table tbody tr:nth-child(odd) {
    background-color: #d7d7d7; 
}

main {
    padding-bottom: 10px;
    min-height: calc(100vh - 225px);
}

.tSK {
    color: #808080;
}

.tS1 {
    color : #4169E1;
}

.tS2 {
    color : #DC143C
}

.footer {
    background-color: #005778;
    position : absolute;
    max-width: 100%;
    height: 150px;
    padding-top: -150px;
    right: 0;
    left:0;

    color: #FFC72C;
}

.btn-footer {
    color : #FFC72C;
}

.logo {
    padding-top: 15px;
    max-width: 72px;
    height: auto;
    /*width="72px" height="97px"*/
}

p {
    padding-top: 15px;
}

@media print {
    .footer {
        display: none;
    }
    .tabBord {
        display : none;
    }

    .btn{
        display: none;
    }

    @page {
        size: landscape;
    }
}


/* #DC143C rouge
   #4169E1 bleu
   #808080 SK*/